.DS_Store
.netrwhist
*.swp
*.cache
*~
/doc/tags
/doc/tags-ja

# for empty dir
!empty

# _vim
/_vim/dein
/_vim/tmp/backup/*
/_vim/tmp/backup/**/*
/_vim/tmp/swap/*
/_vim/tmp/swap/**/*
/_vim/tmp/plugin/*
/_vim/tmp/plugin/**/*
/_vim/tmp/viminfo.txt

# .vimperator
/_vimperator/info/*
/_vimperator/info/default/*

/history/*

/_config/keypass
/_config/karabiner/automatic_backups/*.json
