[user]
    name = linyows
    email = linyows@gmail.com
[color]
    ui = auto
[alias]
    ch = checkout
    cm = commit -m
    ca = commit -a
    st = status
    #st = status -sb
    fork = checkout -b
    join = merge --no-ff
    br = branch
    df = diff
    stt = diff --stat
    wh = whatchanged
    hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    su = log --stat --summary
    pd = log ORIG_HEAD..HEAD -p
    lg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
    today = log --oneline --since='12 hour ago'
    refresh = submodule foreach 'git checkout master && git pull origin master'
    type = cat-file -t
    dump = cat-file -p
    ls = ls-files
[pull]
    #rebase = true
[core]
    excludesfile = ~/.gitignore
    quotepath = false
    editor = vim
    pager = less -r
[http]
    sslVerify = false
[github]
    user = linyows
