[user]
    name = linyows
    email = linyows@gmail.com
[color]
    ui = auto
[alias]
    st = status
    ch = checkout
    cm = commit -m
    ca = commit -a
    fork = checkout -b
    join = merge --no-ff
    br = branch
    # https://qiita.com/skoji/items/28f1d6582cf81638cd3f
    df = diff --word-diff-regex='[^\\x80-\\xbf][\\x80-\\xbf]*' --word-diff=color
    dfh = diff HEAD^ --word-diff-regex='[^\\x80-\\xbf][\\x80-\\xbf]*' --word-diff=color
    stt = diff --stat
    diffstats = diff HEAD^ --stat
    wh = whatchanged
    onelinelog = log --oneline
    hi = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    su = log --stat --summary
    pd = log ORIG_HEAD..HEAD -p
    lg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
    today = log --oneline --since='12 hour ago'
    refresh = submodule foreach 'git checkout master && git pull origin master'
    count = shortlog -sn
    undo = reset --soft HEAD^
    amend = commit --amend -C HEAD
    credit = commit --amend --author "$1 <$2>" -C HEAD
    findby = branch --contains
    nomerged = branch --no-merged
    merged = branch --merged
    lost = fsck --lost-found
    type = cat-file -t
    dump = cat-file -p
    ls = ls-files
    dmb = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    pr = !REP_OWNER=$(git remote -v | grep -e "origin.*github.com[:/].*\\(push\\)" | sed "s/origin.*github.com[:/]//g" | sed "s/[/].*//g") && hub pull-request "$2" -h $REP_OWNER:`git rev-parse --abbrev-ref HEAD` -b $REP_OWNER:$1 && shift "$#"
    p = !hub pull-request
[status]
    short = true
[diff]
    tool = vimdiff
    #algorithm = patience
    algorithm = histogram
    noprefix = true
[pull]
    default = simple
[core]
    excludesfile = ~/.gitignore
    quotepath = false
    editor = vim
    pager = less -r
    precomposeunicode = true
    #filemode = false
    #autocrlf = input
    #whitespace = -trailing-space,-space-before-tab,-indent-with-non-tab,-cr-at-eol
[merge]
    log = true
    tool = vimdiff
[rerere]
    enabled = true
[http]
    sslVerify = true
    cookiefile = ~/.gitcookies
	postBuffer = 524288000
[github]
    user = linyows
#[apply]
    #whitespace = nowarn
[ghq]
    root = ~/.ghq
    root = ~/.go/src
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[push]
    default = matching
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge --skip -- %f
    process = git-lfs filter-process --skip
    required = true
[help]
	autocorrect = 1
[http "https://gopkg.in"]
	followRedirects = true
